.footer-content{
    background-color: $footer-color;
    
    .footer-nav{
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $color-text;
                display: flex;

            }
        }
    }
    .copy{
        color: $color-text;
        text-align: center;
    }
}

#footer{
    background-color: $footer-color;
    padding-top: 2rem;

    .footer-content{
        display: flex;
        align-items: center;
    }

    .footer-logo{
        
        padding-bottom: 2rem;
        a{
            text-decoration: none;
            color: #FFFFFF;
            font-family: $logo-font;
            font-size: 2rem;
        }
    }
    
    .footer-nav{
        padding-left: 1.5rem;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $color-text;
                display: flex;
                margin-left: 15%;

            }
        }
    }
    .email-contact{       
        margin: 0 auto;
        padding-right: 2rem;

        input{
            background: transparent;
        }

        .btn-send{
          background-color: $color-text;
        }
    }

    .social-container{
        display: flex;
        justify-content: right;

        li{
            display: inline-block;
            padding-right: 1rem;
            a{
                display: block;
                padding: 0 5px;
                color: #FFFFFF;
                font-size: 1.8rem;
            }
        }
    }
    hr{
        color: $color-text;
        line-height: 20px;
    }
    .copyright{
        color: $color-text;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 830px){
    #footer{
        .footer-nav{
            padding-right: 3rem;
        }

        .social-container{
            padding-right: 1.4rem;
        }
    }
}


@media screen and (max-width: 750px){
    #footer{
        display: block;
        .footer-content{
            display: inline-block;
            align-items: center;
            width: 100%;
        }

        .footer-logo{
            display: flex;
            justify-content: center;
        }

        .footer-nav{
            display: flex;
            padding-right: 4.5rem;
            line-height: 2.6rem;
            justify-content: center;
        }

        .social-container{
            display: flex;
            justify-content: center;
        }
    }
}