// SECCION BUSCADOR DE PROPIEDADES

#searchProperty{
    width: 100%;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
}
.search-content{

    .select-ubication{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0 2rem;
    }

    .title-search-section{
        font-size: 1rem;
    }
    
    .select-type-property{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .select-box{
        background: #FFFFFF;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        height: 0.2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;

        span{
            text-align: center;
            align-items: center;
        }
    }

    .select-price{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 4rem 0;
    }

    .btn-search{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5.8rem 0;

        input{
        font-family: $textos-font;
        background-color: #FFFFFF;
        padding: 0.5rem 2rem;
        border-radius: 20px;
        border: none;
        }
    }

    .checkbox-property{
        background-color: #FFFFFF;
        font-family: $textos-font;
        height: 1rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        padding: 1.2rem;
        border-radius: 20px;
        margin-top: 10px;
        cursor: pointer;
        width: 20%;
    }

}

// SECCION ACERCA DE NUEVA PROPIEDAD
.new-property{
    .about-property-title{
        font-family: $textos-font;
        margin-top: 3rem;
        margin-left: 2rem;
        font-size: 1.4rem;
    }
}

.clearfix{
    border: 1px solid #000;
    margin: 0 4rem;
    margin-top: 2.7rem;
    border-radius: 10px;
    
    img{
        width: 450px;
        border-radius: 10px;
        float: right;
        margin: 1.8rem 0;
    }

    .newProperty-content{
        display: inline;
        margin-top: 8rem;

        .paragraph{
            width: 40%;
            line-height: 1.8rem;
        }

        .property-info{
            display: flex;
            gap: 15px;

            li{
                list-style-type: none;
            }
        }
    }
}

// SECCION TIPOS DE PROPIEDADES

.property-type-title{
    font-family: $textos-font;
    font-weight: normal;
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 1.4rem;
}

.property-col{
    width: 100%;
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2.7rem;
    margin-bottom: 3rem;
    gap: 20px;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;

    .property-col-content{
        border: 1px solid rgb(214, 214, 214);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.065), 0px 0px 80px rgba(0, 0, 0, 0.13);
        margin-bottom: 1.6rem;
        
            img{
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 300px;
            height: 250px;
            border-radius: 10px;
            object-fit: cover;
            padding-top: .8rem;
        }
    }

    .icon-feature{
        span{
            margin-top: 10px;
            font-size: 1rem;
            padding-left: 1.5rem;
        }
    }

    .icon-features{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5rem;
        line-height: 35px;
        padding-left: 1.4rem;
    }
}

@media screen and (max-width: 1000px) {
    .property-col{
        display: flex;
        flex-wrap: wrap;
    }
}

// FIN SECCION TIPOS DE PROPIEDADES